div#memory_board{
	background:#CCC;
	border:#999 1px solid;
	width:1000px;
	height:540px;
	padding:24px;
	margin:0px auto;
	border-radius: 10px;
}
img{
	border:#000 1px solid;
	width:100px;
	height:100px;
	float:left;
	margin:10px;
	padding:0px;
	border-radius: 15px;
}
img.center{
	bottom:220px;
	position: absolute;
	left:52%;
	cursor:pointer;
	}
img.opened{
	width:0px;
	height:0px;
	margin-left: -90px;
	bottom:-280px;
	position: relative;

}
h2{
	bottom:250px;
	position: absolute;
	left: 40%;
  	padding: 15px 25px;
  	font-size: 24px;
  	text-align: center;
  	text-decoration: none;
  	outline: none;
  	color: #fff;
  	background-color: #4CAF50;
 	border: none;
  	border-radius: 15px;
}
h3{
	bottom:200px;
	position: absolute;
	left:40%;
  	padding: 45px 150px 45px 25px;
  	font-size: 24px;
  	text-align: left;
  	text-decoration: none;
  	outline: none;
  	color: #fff;
  	background-color: grey;
 	border: none;
  	border-radius: 15px;
}
button{
	width:70px;
	height:70px;
	float:left;
	margin:30px;
	padding:0px;
	font-size: 25px;
	background-color: yellow;
	border-radius: 15px;
}